/* ===== Scanner ===== */

#reader{

display:none;

margin-top:20px;

width:100%;
max-width:100%;

height:260px;

border-radius:20px;

overflow:hidden;

background:black;

position:relative;

}

/* ตอนเปิด scanner */

#reader.active{
display:block;
}

/* video stream */

#reader video{

width:100%;
height:100%;

object-fit:cover;

border-radius:20px;

}

/* canvas ที่ quagga ใช้ */

#reader canvas{

position:absolute;

top:0;
left:0;

width:100%;
height:100%;

}

/* ป้องกัน element quagga ล้น */

#reader > div{
width:100% !important;
height:100% !important;
}

/* mobile optimization */

@media (max-width:600px){

#reader{
height:240px;
}

}
